menu "CareCall MQTT configuration"

    config CARECALL_MQTT_BROKER_HOST
        string "MQTT Broker IPv4 address"
        default ""
        help
            Raspberry Pi wlan0의 IPv4 주소를 입력합니다.
            /24는 입력하지 않습니다.

    config CARECALL_MQTT_BROKER_PORT
        int "MQTT Broker port"
        range 1 65535
        default 1883

    config CARECALL_MQTT_USERNAME
        string "MQTT username"
        default "button01"

    config CARECALL_MQTT_PASSWORD
        string "MQTT password"
        default ""

    config CARECALL_MQTT_CLIENT_ID
        string "MQTT Client ID"
        default "carecall-button01"

endmenu
